@charset "UTF-8";
/* *******************************************************
 * filename : rgrid.css
 * description : 리얼그리드 css
 * date : 2019-06-19
 *********************************************************/
 
/*   dropDown   */
/*

.rg-dropdownlist {
    font-family:"맑은고딕"
	background: #fff;
    border: 1px solid rgb(50, 50, 50);
    box-shadow: rgba(0, 0, 0, 0.8) 1px 2px 5px;
    font-size: 10pt;
    padding: 0px;
    margin: 0px;
}
.rg-dropdown-select {
    background: #333333;
    color: #FFFFFF;
    margin: 2px;
}
.rg-dropdown-item {
    margin: 2px;
}
.rg-dropdown-item:hover {
    background: #fdf2a4;
}

  */


    .rg-dropdownlist{
        font-family : "Malgun Gothic";
        background:#fff;
        border: 1px solid rgb(50, 50, 50);
        box-shadow: rgba(0, 0, 0, 0.8) 1px 2px 5px;
        font-size: 10pt;
        padding: 0px;
        margin: 0px;
    }
    .rg-dropdown-select {
        background:#e84947;
        color: #FFFFFF;
        margin:2px;
    }
    .rg-dropdown-item {
        margin:2px;
    }
    .rg-dropdown-item:hover {
        background:#D3D3D3;
    }
   
/*

    .rg-dropdownlist {
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px 0px;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
    }
    .rg-dropdown-select {
        background: #e84947;
        color: #FFFFFF;
        margin: 2px;
    }
    .rg-dropdown-item {
        margin: 2px;
    }
    .rg-dropdown-item:hover {
        background: #e84947;
        color:#fff;
    }
    .box{ padding:10px; }

  */

.rg-calendar {
        font-family: "나눔고딕코딩";
        font-size: 12px;
        background:#fff;
        border:1px solid rgba(50, 50, 50, 1);
        box-shadow:rgba(0, 0, 0, 0.8) 1px 2px 5px;
    }
    .rg-cal-header {
        height:20px;
    }
    .rg-cal-year {
        cursor:default;
        top:5px;
    }
    .rg-cal-month {
        cursor:pointer;
        top:5px;
    }
    .rg-cal-prev-month {
        background-image:url("../plugin/realgrid/assets/cal_prev.png");
        width:20px;
        height:20px;
    }
    .rg-cal-prev-month:hover {
        background-image:url("../plugin/realgrid/assets/cal_prev_hover.png");
    }
    .rg-cal-prev-month:active {
        background-image:url("../plugin/realgrid/assets/cal_prev_active.png");
    }
    .rg-cal-next-month {
        background-image:url("../plugin/realgrid/assets/cal_next.png");
        width:20px;
        height:20px;
    }
    .rg-cal-next-month:hover {
        background-image:url("../plugin/realgrid/assets/cal_next_hover.png");
    }
    .rg-cal-next-month:active {
        background-image:url("../plugin/realgrid/assets/cal_next_active.png");
    }
    .rg-cal-today-button {
        padding: 2px;
        font-size: 12px;
        font-family: "나눔고딕코딩";
        border: 1px solid transparent;
        border-radius: 3px;
        cursor:pointer;
    }
    .rg-cal-today-button:hover {
        border: 1px solid #aaa;
        background-color: #fff;
        text-decoration: underline;
    }
    .rg-cal-today-button:active {
    }
    .rg-cal-next-year {
        background-image:url("../plugin/realgrid/assets/cal_up.png");
    }
    .rg-cal-next-year:hover{
        background-image:url("../plugin/realgrid/assets/cal_up_hover.png");
    }
    .rg-cal-next-year:active{
        background-image:url("../plugin/realgrid/assets/cal_up_active.png");
    }
    .rg-cal-prev-year {
        background-image:url("../plugin/realgrid/assets/cal_down.png");
    }
    .rg-cal-prev-year:hover{
        background-image:url("../plugin/realgrid/assets/cal_down_hover.png");
    }
    .rg-cal-prev-year:active{
        background-image:url("../plugin/realgrid/assets/cal_down_active.png");
    }
    .rg-cal-weeks {
        color:black;
        font-size:12px;
        font-family: "나눔고딕코딩";
        cursor:default;
    }
    .rg-cal-week-sun {
        color:red;
    }
    .rg-cal-week-sat {
        color:blue;
    }
    .rg-cal-days {
        font-family: "나눔고딕코딩";
        font-size:12px;
        text-align: center;
    }
    .rg-cal-day {
        cursor:pointer;
        background: #f5f5f5;
        border:1px solid #eee;
        width:30px;
        height: 30px;
        border-radius: 7px;
        font-family: "나눔고딕코딩";
        font-size:12px;
    }
    .rg-cal-day:hover {
        background: #55FFf5;
        color:red;
        border:1px solid #eee;
    }
    .rg-cal-prev-day {
        color:#ccc;
        border:1px solid #fff;
    }
    .rg-cal-next-day {
        color:#ccc;
        border:1px solid #fff;
    }
    .rg-cal-today {
        background: #d5d5d5;
    }
    .rg-cal-focusday {
        background: rgba(255, 255, 0, 0.3);
        border: 1px solid #aaa;
        color: #333;
    }
    .rg-cal-month-picker {
        margin: 0px;
        cursor: pointer;
        background: #fff;
        border: 1px solid rgba(50, 50, 50, 0.5);
        box-shadow: rgba(0, 0, 0, 0.5) 1px 2px 5px;
        font-family: "나눔고딕코딩";
        font-size: 12px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
    }
    .rg-cal-month-picker-month {
        padding: 1px 4px 1px 4px;
        width:20px;
        height:20px;
        border-radius: 7px;
        text-align: center;
    }
    .rg-cal-month-picker-month:hover {
        background:#e8e8e8;
    }



    .rg-popup-menu {
        background : rgb(233, 233, 233);
        border : 1px solid rgb(200, 200, 200);
        box-shadow : rgba(0, 0, 0, 0.8) 1px 2px 5px;
        font-family : 나눔고딕코딩;
        font-style : normal;
        font-variant : normal;
        font-weight : normal;
        font-size : 10pt;
        padding : 4px;
        margin : 0px;
    }
    .rg-popup-item {
        padding-top : 2px;
        padding-bottom : 2px;
        height:20px;
        cursor:pointer;
    }
    .rg-popup-item:hover {
        background-color : #f8f8f8; 
    }
    .rg-popup-separator-hr {
        height : 1px;
        border : 0px;
        margin : 2px;
        color : #777;
        background-color : #777;
    }
    .rg-popup-expander {
        background-image:url("../plugin/realgrid/assets/menu_expander.png");
        background-repeat : no-repeat;
        background-position : center center;

    }
    .rg-popup-check {
        /*
        background-image:url("../plugin/realgrid/assets/menu_uncheck.png");
        background-repeat : no-repeat;
        background-position : center center;
        */
    }
    .rg-popup-check-checked {
        background-image:url("../plugin/realgrid/assets/menu_check.png");
        background-repeat : no-repeat;
        background-position : center center;
    }
    .rg-popup-radio {
        /*
        background-image:url("../plugin/realgrid/assets/menu_unradio.png");
        background-repeat : no-repeat;
        background-position : center center;
        */}
    .rg-popup-radio-checked {
        background-image:url("../plugin/realgrid/assets/menu_radio.png");
        background-repeat : no-repeat;
        background-position : center center;
    }
    .rg-popup-group1 {
        background : #ffd800
    }
